
<app-header></app-header>

<h1>{{ title }}</h1>

<button (click)="mostrarListado = !mostrarListado">Ver Listado</button>

<ul *ngIf="mostrarListado">
  <li *ngFor="let alumno of students">
    Nombre: {{ alumno.nombre }}, Edad: {{ alumno.edad }}, Matrícula: {{ alumno.matricula }}, Estado: {{ alumno.status }}
  </li>
</ul>

<hr>

<button (click)="verAprobado = !verAprobado">Ver Aprobados</button>


<ul *ngIf="verAprobado" [ngClass]="estaAprobado ? 'aprobado' : 'desaprobado'">
  <li *ngFor="let alumno of getEstudiantesAprobados()">
    Nombre: {{ alumno.nombre }} 
  </li>
</ul>
